*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {

    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px (10px / 16px = 62.5%)

}

body {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.6;

    background-color: $color-primary;
    color: $color-gray;

}

.container {

    max-width: 60rem;
    margin: 10rem auto;
    padding: 2rem;
    
    background-color: #fff;

}

.alert {

    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
    text-align: center;

    &--success {

        background-color: $color-success-light;
        color: $color-success;

    }

    &--danger {

        background-color: $color-danger-light;
        color: $color-danger;

    }

}