*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: #2c3e50;
  color: #95a5a6; }

.container {
  max-width: 60rem;
  margin: 10rem auto;
  padding: 2rem;
  background-color: #fff; }

.alert {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;
  text-align: center; }
  .alert--success {
    background-color: #c8e6c9;
    color: #007E33; }
  .alert--danger {
    background-color: #ef9a9a;
    color: #CC0000; }

.heading-1 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1.5rem; }

.heading-2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom {
  margin-bottom: 1rem; }

.addon {
  width: 30rem;
  font-family: inherit;
  font-size: 1.5rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 1.2rem;
  background-color: #e0e4e5;
  color: #242b2b;
  border: solid #95a5a6 0.1rem;
  border-right: none;
  white-space: nowrap; }
  .addon__single {
    width: 3.5rem; }

.calculator {
  margin-bottom: 3rem; }
  .calculator__form input[type=number]::-webkit-inner-spin-button,
  .calculator__form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .calculator__form input[type=number] {
    -moz-appearance: textfield; }
  .calculator__input-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem; }
  .calculator__input {
    width: 100%;
    padding: 1rem .5rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: #2c3e50; }
    .calculator__input:focus {
      outline: none; }
  .calculator__btn {
    width: 100%;
    padding: 1.4rem;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .calculator__btn:hover {
      background-color: #476481; }
    .calculator__btn-clear {
      background-color: #476481; }
      .calculator__btn-clear:hover {
        background-color: #2c3e50; }

.results {
  display: none; }
  .results input[type=number]::-webkit-inner-spin-button,
  .results input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .results input[type=number] {
    -moz-appearance: textfield; }
  .results__output-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem; }
  .results__output {
    width: 100%;
    padding: 1rem .5rem;
    font-family: inherit;
    font-size: 1.5rem; }

.loader {
  display: none; }
  .loader--visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
